header {
background-color:antiquewhite  ; width: 1480px; height:90px; 
color: blue;

}
main {



}
footer {
background-color: antiquewhite ;
color: blue; height: 70px;

}
section{
background-color: antiquewhite;

}
